form-creator {
  width: 800px;
  display: block;
}

input-field-object > .form-element > .form-group, 
form > .form-element > .form-group {
  overflow-y: hidden;
  height: auto;
}

input-field-object > .form-element > .form-group.hidden,
form > .form-element > .form-group.hidden {
  overflow-y: hidden;
  max-height: 0px;
}

form-creator input, textarea {
  border-radius: 5px;
}

form-creator label {
  margin-right: 10px;
}

form-creator button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: cornflowerblue;
  margin: 2px;
  height: 2em;
  box-shadow: 1px 2px 5px 1px gray;
}

.formular-title > * {
  text-align: center;
}

div.form-element {
  margin: 5px;
}

span.pflichtfeld {
  /* float: right; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 5px;
  vertical-align: bottom;
}

.form-list > *[name] {
  display: inline-block;
  width: 100%;
}

.form-list {
  display: grid;
  grid-template-columns: 98% 2%;
  border-radius: 5px;
}

input-field-list > .form-element {
  border-radius: 10px;
  border: 2px solid gray;
}

.form-list > button.form-list-removebtn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  background-color: rgba(200, 0, 0, 1);
  /* color: white; */
  padding: 2px;
}

.form-list-addbtn {
  clear: both;
  position: relative;
  width: 99%;
  display: block;
  background-color: rgba(0, 200, 0, 1);
  box-sizing: content-box;
  padding: 2px;
}

.hidden {
  display: none;
}

input-field-object > .form-element {
  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px darkgray;
}

.form-object-collapse {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: small;
  margin-top: 0px;
  background-color: white;
  z-index: 1;
}

.clear-radio-btn {
  /* float: right; */
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: small;
  background-color: lightpink;
}

label {
  font-size: smaller;
}

.form-element > label {
  font-weight: bold;
  vertical-align: top;
}

form-creator > form {
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 10px;
}

input[type="text"],input[type="tel"], input[type="email"], input[type="date"], textarea {
  width: 60%;
  border: none;
  border: 1px solid gray;
  box-shadow: inset -2px -2px 5px 2px gray;
  vertical-align: middle;
}

input[type="text"],input[type="tel"], input[type="email"], input[type="date"]{
  height: 2em;
  padding: 3px;
}

textarea {
  padding: 5px;
}

input[type="dropdown"] {
  border-radius: 10px;
}

.form-element select {
  border-radius: 5px;
  border: none;
  box-shadow: inset -2px -2px 2px 1px gray;
  height: 2em;
  background-color: rgb(255, 255, 255);
}

button.form-object-collapse {
  background-color: antiquewhite;
  height: 1.5em;
  margin: 1px;
}

.output-display {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.03);
  color: gray;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.choose-list {
  display: block;
  min-height: 200px;
  max-height: 200px;
  width: 60%;
  border: 2px solid lightgray;
  overflow-y: scroll;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 1px;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 8px;
}

.choose-list > li {
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 1px;
  margin-right: 0px;
  padding: 2px;
  font-size: smaller;
  color: rgb(77, 77, 77); 
  box-sizing: border-box;
  font-family: lucida Console, monospace;
  /* border-radius: 10px; */
  /* border: 1px dotted rgb(173, 173, 173);   */
}

.choose-list > li:first-child {
  margin-top: 0px;
}

.choose-list > li:hover {
  background-color: lightblue;
  cursor: pointer;
}

.choose-list > li.selected {
  background-color: #2020e360;
}

[pflichtfeld="true"] > label, [pflichtfeld="true"] > .form-element > label:first-of-type {
  font-style: italic;
  text-decoration-line: underline;
}

.separator {
  width: 100%;
  height: 0px;
  box-sizing: border-box;
  border: 4px solid#90909040;
  margin-bottom: 20px;
  border-radius: 20px;
}

ul.selected-item {
  min-height: max-content;
  max-height: max-content;
}

@media all and (-ms-high-contrast:none) {
  ul.selected-item {
    min-height: auto;
  }
}

ul.selected-item > li:not(.selected) {
  display: none;
}

input-field-radio > .form-element {
  border: 2px solid gray;
  display: block;
  border-radius: 10px;
}

.warning > div.form-element input:not(.helper), .warning > div.form-element select:not(.helper), 
.warning > div.form-element textarea:not(.helper) {
  border: 1px solid #ffda0bd8;
  box-shadow: inset 2px 2px 10px 2px #ffda0bd8;
}

.invalid.radio-form > .form-element {
  border: 1px solid #ff0b0bd8;
  box-shadow: inset 2px 2px 10px 1px #ff0b0bd8;  
}

.invalid > div.form-element input:not(.helper), .invalid > div.form-element select:not(.helper), 
.invalid > div.form-element textarea:not(.helper){
  border: 1px solid #ff0b0bd8;
  box-shadow: inset 2px 2px 10px 1px #ff0b0bd8;
}

*.delete-waiting > .form-element {
  background-color: #ff0b0b;
  opacity: 0.2;
  z-index: 1000;
}

*.delete-waiting > .form-element input, 
*.delete-waiting > .form-element select {
  background-color: white;
}

li.zebra1 {
  background-color: rgb(223, 240, 255);
}

li.zebra2 {
  background-color: white;
}

.invalid, .warning {
  position: relative;
  text-decoration: none;
}

.warning:not(.invalid):after {
  right: -700px;
  left: unset;
}

.validity-message {
  display: none;
}

.warning .validity-message {
  display: block;
  word-wrap: normal;
  padding: 5px;
  color: darkgoldenrod;
}

.invalid .validity-message {
  display: block;
  word-wrap: normal;
  padding: 5px;
  color: darkred;
}

.invalid:hover:after, .warning:hover:after {
  bottom: 100%;
}

.invalid:hover:before, .warning:hover:before {
  bottom: 70%;
}

.invalid:hover:after, .invalid:before, .warning:hover:after, .warning:before {
  opacity: 1;
}

.form-element {
  position: relative;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.warning:after {
  background: #ffda0b;
  color: black;
}

.warning:before {
  border-top: 20px solid #ffda0b2d;
}

input.filter-input {
  height: 2em;
  font-size: smaller;
  box-shadow: none;
  border: 1px solid lightgray;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
}
