form-creator {
  width: 800px;
  display: block;
}

.formular-title > * {
  text-align: center;
}

div.form-element {
  margin: 5px;
}

div.form-group {
  border: 1px solid lightgray;
}

span.pflichtfeld {
  /* float: right; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 5px;
  vertical-align: bottom;
}

.form-list > *[name] {
  display: inline-block;
  width: 100%;
}

.form-list {
  display: grid;
  grid-template-columns: 95% 5%;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 1px lightgray;
}

.form-list > button.form-list-removebtn {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 95%;
  background-color: rgba(200, 0, 0, 0.5);
  padding: 2px;
}

.form-list-addbtn {
  clear: both;
  position: relative;
  width: 99%;
  display: block;
  background-color: rgba(0, 200, 0, 0.5);
  box-sizing: content-box;
  padding: 2px;
}

.form-element {
  position: relative;
  border: 1px solid lightgray;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 1px lightgray;
}

.form-element > label {
  font-weight: bold;
  vertical-align: top;
}

/* .form-list label {
  font-weight: normal;
} */

.form-group {
  border-radius: 10px;
  box-shadow: 2px 2px 20px 1px lightgray;
}

/* .form-group label {
  font-weight: normal;
} */

/* .form-group * label {
  font-weight: lighter;
} */

.input-display {
  color: gray;
}

.form-object-collapse {
    /* float: right; */
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: small;
  margin-top: 0px;
  background-color: white;
  z-index: 1;
}

.clear-radio-btn {
  /* float: right; */
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: small;
  background-color: lightpink;
}

form-creator .hidden {
    /* visibility: collapse; */
    display: none;
    height: 0;
}

form-creator input, textarea {
  border-radius: 5px;
}

form-creator label {
  margin-right: 10px;
}

form-creator button {
  border-radius: 10px;
}

span.output-display {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(102, 102, 102);
}


/* Invalid Styling */
.invalid > div.form-element {
  border: 1px solid #ff0b0bd8;
  box-shadow: inset 2px 2px 10px 2px #ff0b0bd8;
}

.invalid, .warning {
  position: relative;
  text-decoration: none;
}

.warning:after, .invalid:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: 20%;
  background: #d60f0f;
  padding: 5px 15px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius : 10px;
  border-radius : 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
}

.warning:not(.invalid):after {
  right: -700px;
  left: unset;
}

.invalid:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid #d60f0f2d;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
  opacity: 0;
  left: 30%;
  bottom: 90%;
}
.invalid:hover:after, .warning:hover:after {
  bottom: 100%;
}
.invalid:hover:before, .warning:hover:before {
  bottom: 70%;
}
.invalid:hover:after, .invalid:before, .warning:hover:after, .warning:before {
  opacity: 1;
}


.warning  > div.form-element {
  border: 1px solid #ffda0bd8;
  box-shadow: inset 2px 2px 10px 2px #ffda0bd8;
}

.warning:after {
  background: #ffda0b;
  color: black;
}

.warning:before {
  border-top: 20px solid #ffda0b2d;
}
